<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--ClassName.objects.get(id=1)
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name">
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">-->
    <div class = entry>
        <label for="Title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="Description">Description:</label>
        <input type="text" id="description" name="description">
        <!-- placeholder for "add button" -->
    <div class = entry>
            <label for="First_name">First name:</label>
            <input type="text" id="first_name" name="first_name">
            <label for="Description">Description:</label>
            <input type="text" id="description" name="description">
        <!-- placeholder for "add button" -->
    </div>

</body>
</html>